<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Brown</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Brown</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Lavender</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Lavender</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Mint</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Mint</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Peach</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Peach</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Pink</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Pink</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Sand</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Sand</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Slate</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon-Slate</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Walkie reads your step count to keep your koala fed and happy.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Walkie needs access to your step data.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>healthkit</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UNUserNotificationCenterDelegate</key>
	<true/>
</dict>
</plist>
